body {
  background-color: white;
}

.customCard {
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(15px);
  overflow: hidden;
}

.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.customInput {
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primaryColor {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(27, 50, 45) !important;
}

.secondaryColor {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(27, 50, 45) !important;
}

.tertiaryColor {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(27, 50, 45) !important;
}

.buttonBgColor {
  background-color: rgba(2, 119, 107, 0.9) !important;
}

.contentBgColor {
  background-color: rgba(255, 255, 255, 0);
}

.contentHover:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  background-color: rgba(255, 255, 255, 0.5);
}
